# Flutter/Dart specific
**/build/
**/ios/Flutter/.last_build_id
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/generated_plugin_registrant.dart
**/pub-cache/
**/pub/
**/pubspec.lock
**/coverage/
**/packages/
**/test_coverage.dart
**/test_runner.dart
**/idea/
**/vscode/
**/iml
**/log
**/pyc
**/swp
**.DS_Store
**.atom/
**.buildlog/
**.history
**.svn/
**/*.freezed.dart
**/*.g.dart
**/*.mocks.dart

# Node.js specific
**/node_modules/
**/npm-debug.log
**/yarn-error.log
**/yarn-debug.log
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/dist/
**/coverage/
**/.nyc_output/
**/.serverless/
**/.webpack/
**/.next/
**/.nuxt/
**/.cache/
**/.output/
**/.vuepress/dist/
**/.docz/
**/.docusaurus/
**/.storybook-static/
**/.vercel/
**/.netlify/

# IDE specific
**/idea/
**/vscode/
**/iml
**/ipr
**/iws
**/project
**/classpath
**/settings/
**/factorypath
**.DS_Store

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
